%h2 Your Credit Cards
%table
  %tbody
    %tr
      %th Credit Card Number
      %th Owner
      %th Credit Network
      %th Expiration Date
  - @credit_cards.each do |card|
    %tr
      %td
        = card['number']
      %td
        = card['owner']
      %td
        = card['credit_network']
      %td
        = card['expiration_date']
