%h2 API References
%p
  Credit Card API is up and running.

  Features:
  %ul
    %li
      %a{href: '/api/v1/credit_card/validate/'}
        Credit Card Validation
    %li
      %a{href: '/api/v1/credit_card/'}
        Store Credit Card Information
    %li
      %a{href: '/api/v1/credit_card/all/'}
        List all Credit Cards


  Your Credit Cards
  %table
    %tbody
      %tr
        %th Credit Card Number
        %th Owner
        %th Credit Network
        %th Expiration Date
    - @cards.each do |card|
      %tr
        %td
          = card['number']
        %td
          = card['owner']
        %td
          = card['credit_network']
        %td
          = card['expiration_date']
