!!! 5

%html
  %head
    %title Credit Card API
    %link{rel:'stylesheet', href:'/custom.css'}
  %body
    %h1 Welcome to Credit Card API
    - if @current_user
      = "Hi, #{@current_user.username}"
      %span
        &nbsp;|
      %a{href: '/credit_cards/'}
        = "List all Credit Cards"
      %span
        &nbsp;|
      %a{href: '/credit_cards/new/'}
        = "Add a New Credit Card"
      %span
        &nbsp;|
      %form{:action => '/logout', :method => 'post', :style => 'display: inline'}
        %input{:type => 'submit', :value => 'Sign Out'}
    - else
      %a{href: '/sign_in'}
        = "Sign In"
      %span
        &nbsp;|
      %a{href: '/sign_up'}
        = "Sign Up"
      %span
        &nbsp;|
      %a{href: "https://github.com/login/oauth/authorize?client_id=#{ENV['GH_CLIENT_ID']}&scope=user:email"}
        = "Login with GitHub"
    = haml :flash_bar
    = yield
