%h2 Add a New Credit Card
%form{:action=>'/credit_cards/', :method => 'post'}
  %label{:for => 'number'} Number
  %input{:type => 'text', :name => 'number'}
  %br
  %br
  %label{:for => 'owner'} Owner
  %input{:type => 'text', :name => 'owner'}
  %br
  %br
  %label{:for => 'credit_network'} Credit Network
  %input{:type => 'text', :name => 'credit_network'}
  %br
  %br
  %label{:for => 'expiration_date'} Expiration Date
  %input{:type => 'text', :name => 'expiration_date'}
  %br
  %br
  %input{:type => 'submit', :value => 'Submit'}
