%h2 Sign In
%form{:action=>'/sign_in', :method => 'post'}
  %label{:for => 'username'} Username
  %input{:type => 'text', :name => 'username'}
  %br
  %br
  %label{:for => 'password'} Password
  %input{:type => 'password', :name => 'password'}
  %br
  %br
  %input{:type => 'submit', :value => 'Sign in'}
